section{
  background-color: #17202A;
}
a{
  color:#17202A;
  text-decoration: none;
}
.bg-1 {
  background-color: #17202A;
  color: #F4D03F;
  font-family: verdana, sans-serif;
}

.bg-2 {
  background-color: #F4D03F;
  color: #ffffff;
  font-family: verdana, sans-serif;
}

.container {
  border-style: solid;
  border-radius: 10px;
  border-width: 8x;
  border-color: #F4D03F;
}
