<app-header></app-header>



<div id="hero">
  <div id="bike" class="rellax" data-rellax-speed="-5"> <img src="https://jeffbredenkamp.neocities.org/bike-min.png"
      alt="bike" /> </div>
  <div id="kaneda" class="rellax" data-rellax-speed="-3"> <img src="https://jeffbredenkamp.neocities.org/kaneda-min.png"
      alt="Kaneda" /> </div>
  <div id="akira" class="rellax" data-rellax-speed="-1"> <img src="https://jeffbredenkamp.neocities.org/akira-min.png"
      alt="Akira" /> </div>
</div>
<div id="content">
  <div class="container">
    <h2>Akira <span>アキラ</span></h2>
    <img src="https://jeffbredenkamp.neocities.org/redline-min.png" alt="" />
    <p>Souvent stylisé comme AKIRA, est une série de mangas japonais écrite et illustrée par le mangaka Katsuhiro
      Otomo. Initialement sortie dans les pages de Young Magazine de 1982 à 1990, l'ouvrage a été rassemblé en six
      volumes par son éditeur Kodansha. L'œuvre a été publiée aux États-Unis par Marvel Comics sous leur empreinte
      Epic Comics, devenant l'une des premières œuvres de manga à être traduite dans son intégralité en anglais. L'art
      d'Otomo est considéré comme exceptionnel et un tournant pour Otomo et la forme manga.</p>
    <p>Situé dans un Neo-Tokyo post-apocalyptique et futuriste, le manga se concentre sur les efforts d'un motard
      adolescent
      gang le chef Kaneda, le militant politique Kei, un trio d'Espers et le chef militaire de Neo-Tokyo, le colonel
      Shikishima
      pour empêcher Tetsuo, l'ami d'enfance fracturé mentalement de Kaneda, d'utiliser sa télékinésie instable
      capacités à ravager la ville et à réveiller un mystérieux individu doté de capacités psychiques similaires nommé
      "Akira". A travers cette œuvre, Otomo utilise les conventions du genre cyberpunk pour détailler une saga de la
      politique
      les troubles, l'isolement social, la corruption et le pouvoir.</p>
    <p>Une adaptation de film d'animation (anime) est sortie en 1988 qui a considérablement raccourci l'intrigue tout
      en
      retenir
      de nombreux personnages principaux et éléments de l'intrigue du manga ainsi que des scènes, des paramètres et
      des
      motifs.
      Le manga se déroule sur une période plus longue que le film et implique un éventail beaucoup plus large de
      personnages
      et sous-intrigues. L'anime Akira d'Otomo a marqué sa transition d'une carrière principalement dans le manga, à
      une presque
      exclusivement en anime.</p>
    <p>Akira a joué un rôle déterminant dans une recrudescence de la popularité des mangas en dehors du Japon,
      d'autant plus qu'Epic Comics
      édition
      a été colorisé et a coïncidé avec la sortie du film. Il a remporté plusieurs prix, dont le
      Kodansha
      Manga et Harvey Awards, et est nommé comme étant un titre important dans l'explosion du manga français.</p>
      <br><br>
      <div class="text-center">
        <iframe width="700" height="450" src="https://uptostream.com/iframe/2n3jyc3ra4cd" scrolling="no" frameborder="0" allowfullscreen webkitallowfullscreen></iframe>
        </div>
  </div>
</div>


<app-footer></app-footer>
