<app-header></app-header>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">
<div style="text-align: center;">
  <a routerLink=" "><img style="width: 300px" src="./assets/ShonenjumpLogo.png" alt="Logo Shonenjump"></a>
</div>
<div class="gallery">
  <div class="gallery__column">
    <a routerLink="samuraichamploo" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="../assets/imageMain/samuraiChamploo.png" alt="Samurai Champloo"
          class="gallery__image">
        <figcaption class="gallery__caption">Samurai Champloo</figcaption>
      </figure>
    </a>

    <a routerLink="/akira" class="gallery__link">
      <figure class="gallery__thumb">
        <img
          src="../assets/imageMain/akira.jpeg" alt="Akira" class="gallery__image">
        <figcaption class="gallery__caption">Akira</figcaption>
      </figure>
    </a>

    <a routerLink="/berserk" class="gallery__link">
      <figure class="gallery__thumb">
        <img
          src="../assets/imageMain/berserk.jpeg" alt="Berserk" class="gallery__image">
        <figcaption class="gallery__caption">Berserk</figcaption>
      </figure>
    </a>
  </div>
</div>

<div class="gallery">
  <div class="gallery__column">
    <a routerLink="/goldenboy" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="../assets/imageMain/goldenBoy.jpeg" alt="Golden boy" class="gallery__image">
        <figcaption class="gallery__caption">Golden Boy</figcaption>
      </figure>
    </a>

    <a routerLink="/cowboybebop" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="../assets/imageMain/cowboyBebop.jpeg" alt="cowboy bebop" class="gallery__image">
        <figcaption class="gallery__caption">Cowboy Bebop</figcaption>
      </figure>
    </a>

    <a routerLink="/deathnote" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="../assets/imageMain/deathNote.jpeg" alt="Death Note" class="gallery__image">
        <figcaption class="gallery__caption">Death Note</figcaption>
      </figure>
    </a>
  </div>
</div>

<div class="gallery">
  <div class="gallery__column">
    <a routerLink="/gto" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="../assets/imageMain/gto.jpeg" alt="GTO" class="gallery__image">
        <figcaption class="gallery__caption">Great Teacher Onizuka</figcaption>
      </figure>
    </a>

    <a routerLink="/jojosbizarreadventure" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="../assets/imageMain/jojo.jpeg" alt="Jojo" class="gallery__image">
        <figcaption class="gallery__caption">Jojo's Bizarre Adventure</figcaption>
      </figure>
    </a>

    <a routerLink="/jujutsukaisen" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="../assets/imageMain/jujutsuKaisen.jpeg" alt="Jujutsu Kaisen" class="gallery__image">
        <figcaption class="gallery__caption">Jujutsu Kaisen</figcaption>
      </figure>
    </a>
  </div>
</div>

<div class="gallery">
  <div class="gallery__column">
    <a routerLink="/fma" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="../assets/imageMain/fma.jpeg" alt="Full Metal Alchemist" class="gallery__image">
        <figcaption class="gallery__caption">Full Metal Alchemist</figcaption>
      </figure>
    </a>

    <a routerLink="/demonslayer" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="../assets/imageMain/demonslayer.jpeg" alt="Demon Slayer" class="gallery__image">
        <figcaption class="gallery__caption">Demon Slayer</figcaption>
      </figure>
    </a>

    <a routerLink="" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="../assets/imageMain/parasyte.jpeg" alt="Parasyte"  class="gallery__image">
        <figcaption class="gallery__caption">Parasyte</figcaption>
      </figure>
    </a>
  </div>
</div>

<div class="gallery">
  <div class="gallery__column">
    <a routerLink="/vinlandsaga" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="../assets/imageMain/vinland.jpeg" alt="Vinland Saga" class="gallery__image">
        <figcaption class="gallery__caption">Vinland Saga</figcaption>
      </figure>
    </a>

    <a routerLink="" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="../assets/imageMain/monster.jpeg" alt="Monster" class="gallery__image">
        <figcaption class="gallery__caption">Monster</figcaption>
      </figure>
    </a>

    <a routerLink="" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="../assets/imageMain/onepunchman.jpeg" alt="one punch man" class="gallery__image">
        <figcaption class="gallery__caption">One Punch Man</figcaption>
      </figure>
    </a>
  </div>
</div>

<div class="gallery">
  <div class="gallery__column">
    <a routerLink="" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="../assets/imageMain/mha.jpeg" alt="My Hero Academia" class="gallery__image">
        <figcaption class="gallery__caption">My Hero Academia</figcaption>
      </figure>
    </a>

    <a routerLink="" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="../assets/imageMain/assassination.jpeg" alt="Assassination Classroom" class="gallery__image">
        <figcaption class="gallery__caption">Assassination Classroom</figcaption>
      </figure>
    </a>

    <a routerLink="" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="../assets/imageMain/shingeki.png" alt="Shingeki No Kyojin" class="gallery__image">
        <figcaption class="gallery__caption">Shingeki No Kyojin</figcaption>
      </figure>
    </a>
  </div>
</div>

<div class="gallery">
  <div class="gallery__column">
    <a routerLink="" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="../assets/imageMain/saintseiya.jpeg" alt="Saint Seiya" class="gallery__image">
        <figcaption class="gallery__caption">Saint Seiya</figcaption>
      </figure>
    </a>

    <a routerLink="" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="../assets/imageMain/naruto.jpeg" alt="Naruto" class="gallery__image">
        <figcaption class="gallery__caption">Naruto</figcaption>
      </figure>
    </a>

    <a routerLink="" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="../assets/imageMain/hunterxhunter.jpeg" alt="Hunter x Hunter"
          class="gallery__image">
        <figcaption class="gallery__caption">Hunter x Hunter</figcaption>
      </figure>
    </a>
  </div>
</div>

<div class="gallery">
  <div class="gallery__column">
    <a routerLink="" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="../assets/imageMain/blacklagoon.jpeg" alt="Black Lagoon" class="gallery__image">
        <figcaption class="gallery__caption">Black Lagoon</figcaption>
      </figure>
    </a>

    <a routerLink="" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="../assets/imageMain/dbz.jpeg" alt="Dragon Ball Z" class="gallery__image">
        <figcaption class="gallery__caption">Dragon Ball Z</figcaption>
      </figure>
    </a>

    <a routerLink="/onepiece" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="../assets/imageMain/onepiece.png" alt="One Piece" class="gallery__image">
        <figcaption class="gallery__caption">One Piece</figcaption>
      </figure>
    </a>
  </div>
</div>

<div class="gallery">
  <div class="gallery__column">
    <a routerLink="" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="../assets/imageMain/kingdom.jpeg" alt="Kingdom" class="gallery__image">
        <figcaption class="gallery__caption">Kingdom</figcaption>
      </figure>
    </a>

    <a routerLink="" class="gallery__link">
      <figure class="gallery__thumb">
        <img src="../assets/imageMain/cityhunter.jpeg" alt="City Hunter" class="gallery__image">
        <figcaption class="gallery__caption">City Hunter</figcaption>
      </figure>
    </a>
  </div>
</div>
<app-footer></app-footer>
