<body>
  <div class="main-page">

      <div class="smooth login" id="login">
          <h1 class="login__header header">Re-Bonjour !</h1>
          <p class="login__byline">Te revoilà enfin, tu nous avais manqué ! </p>
          <fieldset class="form">
              <form action="" class="form__body form-login">
                  <input class="form__input" type="email" placeholder="Email">
                  <input class="form__input" type="password" placeholder="Mot de passe">
                  <button class="btn" type="submit">Se connecter</button>
              </form>
          </fieldset>
      </div>

      <div class="switch">
          <div class="switch__text-container" id="switch-text">
              <h1 class="switch__header header">Tu n'es pas encore membre ?</h1>
              <p>Inscris-toi et découvre tout notre contenu !</p>
          </div>
          <button class="btn-white btn" id="switch-button">Inscription</button>
      </div>

      <div class="smooth signup hide-view" id="signup">
          <h1 class="signup__header header">Créer un nouveau compte</h1>
          <fieldset class="form">
              <form action="" class="form__body form-login">
                  <div class="input__group">
                      <input class="form__input form__input-half" type="text" placeholder="Prénom">
                      <input class="form__input form__input-half" type="text" placeholder="Nom">
                  </div>
                  <div class="input__group">
                      <input class="form__input form__input-half" type="email" placeholder="Email">
                      <input class="form__input form__input-half" type="password" placeholder="Mot de passe">
                  </div>
                  <div class="input__group">
                      <input class="form__input-checkbox" type="checkbox"> J'ai lu les <a href="#">termes et conditions</a>
                  </div>
                  <button class="btn" type="submit">Inscription</button>
              </form>
          </fieldset>
      </div>

  </div>
</body>
